				<tr>
					<td><%= image_tag book.cover.url(:thumb) %></td>
					<td><%= book.title %></td>
					<td><%= book.author %></td>
					<td><%= book.publisher %></td>
					<td><%= book.publication_year %></td>
					<td>$<%= book.price %>0</td>
					<td><%= book.country_of_origin %></td>
					<td class="col-md-1" id="new-quotation-item">
    				<%= render "book_row", book: book, quotation_item: @quotation_item, quotation: @quotation %>
		      </td> 
					
				</tr>
				<% end %>
			</table>
		</div>
	</div>
	<div class="text-center">
	 <%= will_paginate @books,:previous_label => 'Anterior', :next_label => 'Siguiente', renderer: BootstrapPagination::Rails %>
	</div>
