<div class="container">	
	<div class="row">
		<br>
		<%= link_to 'Agregar más libros', books_path %>
		<br><br>
	</div>
	<div class="row">
		<table class="table table-striped">
			<tr>
			  <th class="col-md-1">Usuario</th>
			  <th class="col-md-1">Cliente</th>
			  <th class="col-md-1">R.U.C.</th>
			  <th class="col-md-1">D.V.</th>
			  <tr>
			  	<td><%= @user.full_name%></td>
			  	<td><%= @client.name%></td>
			  	<td><%= @client.ruc%></td>
			  	<td><%= @client.dv%></td>
			  </tr>
			</tr>
		</table>
	</div>
	<div class="row">
	    <h4>Productos</h4>
	    <div class="row">
	      <div class="col-md-12">
	        <table class="table table-striped">
	          <tr>
	            <th class="col-md-1">Portada</th>
	            <th class="col-md-2">Título</th>
	            <th class="col-md-1">Autor</th>
	            <th class="col-md-1">Editorial</th>
	            <th class="col-md-1">Año</th>
	            <th class="col-md-1">País de P.</th>
	            <th class="col-md-1">Cantidad</th>
	            <th class="col-md-1">Précio</th>
	            <th class="col-md-1">Subtotal</th>
	          </tr>
	          <% @quotation_items.each do |quotation_item| %>
	           <tr>
	             <td><%= image_tag quotation_item.book.cover.url(:thumb) %></td>
	             <td><%= quotation_item.book.title %></td>
	             <td><%= quotation_item.book.author %></td>
	             <td><%= quotation_item.book.publisher %></td>
	             <td><%= quotation_item.book.publication_year %></td>
	             <td><%= quotation_item.book.country_of_origin %></td>
	             <td><%= quotation_item.quantity %></td>
	             <td>$<%= quotation_item.book.price.to_i %></td>
	             <td>$<%= quotation_item.total_price.to_i %></td>
	          <% end %>
	           </tr>
	      </table>
	      <!-- Total and subtotal table -->
	      <hr>
	      <div class="row">
		      <table class="col-md-4 pull-right">
		        <tr>
		          <th class="col-md-1 subtotal">Subtotal</th>
		          <td class="col-md-1"><%= number_to_currency(@quotation.subtotal) %> </td>
		        </tr>
		        <tr>
		          <th class="col-md-1 total">Total</th>
		          <td class="col-md-1"><%= number_to_currency(@quotation.total) %> </td>
		        </tr>
		     	</table>
	      </div>

	      </div>
	    </div>
	    </div>
			<div class="row">
				
			</div>
	 </div>
	</div>