<div class="col-md-3 book-filter text-right">
  <div id="filter-list-size" class="panel product-filter-container">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav nav-pills nav-stacked">
        
        <li class="active"><a class="search-field" href="#" data-keyword="">Catálogo completo<span class="sr-only">(current)</span></a></li>

        <li class="scrollup"><a class="search-field" href="#" data-keyword="códigos"><%= t("Códigos")%></a></li>

        <li class="scrollup"><a class="search-field" href="#" data-keyword="derecho ambiental"><%= t("DerechoAmbiental")%></a></li>

        <li class="scrollup"><a class="search-field" href="#" data-keyword="ciencias politicas"><%= t("CienciasPoliticas")%></a></li>
        
        <li class="scrollup"><a class="search-field" href="#" data-keyword="derecho civil"><%= t("DerechoCivil")%></a></li>

        <li class="scrollup"><a class="search-field" href="#" data-keyword="autores-nacionales"><%= t("AutoresNacionales")%></a></li>

        <li class="scrollup"><a class="search-field" href="#" data-keyword="derecho maritimo"><%= t("DerechoMaritimo")%></a></li>

        <li class="scrollup"><a class="search-field" href="#" data-keyword="derecho maritimo"><%= t("DerechoInternacional")%></a></li>

        <li class="scrollup"><a class="search-field" href="#" data-keyword="derecho constitucional"><%= t("DerechoConstitucional")%></a></li>

        <li class="scrollup"><a class="search-field" href="#" data-keyword="derecho administrativo"><%= t("DerechoAdministrativo")%></a></li>

        <li class="scrollup"><a class="search-field" href="#" data-keyword="derecho mercantil"><%= t("DerechoMercantil")%></a></li>

        <li class="scrollup"><a class="search-field" href="#" data-keyword="derecho laboral"><%= t("DerechoLaboral")%></a></li>

        <li class="scrollup"><a class="search-field" href="#" data-keyword="derecho de-familia"><%= t("DerechoDeFamilia")%></a></li>

        <li class="scrollup"><a class="search-field" href="#" data-keyword="derecho penal"><%= t("DerechoPenal")%></a></li>

        <li class="scrollup"><a class="search-field" href="#" data-keyword="derecho informatico"><%= t("DerechoInformatico")%></a></li>

        <li class="scrollup"><a class="search-field" href="#" data-keyword="derecho juridico"><%= t("DerechoJuridico")%></a></li>

      </ul>
    </div>
  </div>
</div>