<div class="main-panel-products-spacer">
  <div class="all-products">
    <% unless @books.empty?  %>
      <% @books.each do |book| %>
        <div class="col-sm-4 product-wrapper">
          <a href="<%= book_path(book.id) %>">
            <div class="site-product">   
            <% if book.published == false %>
              <div class ="soldout-banner"></div>
              <p id="soldout"><%= t("sold_out") %></p>
            <% elsif book.discount != nil %>
              <div class ="sale-banner">
                <p id="sale">Sale!</p>
              </div>
            <% end %>
            <div class="product-details-index"> 
              <p id="title-index"><%=h truncate(book.title, :length => 45, :omission => '...') %></p>
              <% if book.discount == nil %>           
                <p id="price-index">$<%= book.price.to_i %></p>
              <% else %>
                <p class="discount" id="price-index"> <%= t("was_sale") %> $<%= book.price.to_i %></p>
                <p id="price-index">$<%= book.discount.to_i %></p>
              <% end %>
            </div>
            <%= image_tag book.cover.url, class: "product-img"%>
            </div>
          </a>
          <br>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="text-center">
   <%= will_paginate @books,:previous_label => 'Anterior', :next_label => 'Siguiente' %>
  </div>
</div>
