<div class="row">
  <div class="col-md-9">
    <nav class="subheader">
      <ul>
        <li>Derecho</li>
        <li>Psicología</li>
        <li>Arquitectura</li>
        <li>Nacionales</li>
        <li>Importados</li>
        <li>Códigos</li>
      </ul>
    </nav>
  </div>
  <div class="col-md-3">
    <%= form_tag books_path, :method => 'get', :class => 'searchbar' do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search" %> <br>
    <%= link_to "Busqueda avanzada", new_search_path %>
    <% end %>
  </div>
</div>

<div class="row">

  <div class="col-md-4">
    <h1>Búsqueda Avanzada</h1>

    <%= form_for @search, html: {class: "pure-form"} do |s| %>

      <div class="field">
        <%= s.label :keywords %> <br>
        <%= s.text_field :keywords %>
      </div>

      <div class="field">
          <%= s.label :category %> <br>
          <%= s.select :category, options_for_select(@categories), :include_blank => true %>
        </div>

      <div class="field">
          <p><%= s.label :min_price, "Precio Mínimo" %> - <%= s.text_field :min_price, size: 10 %> </p>
          <p><%= s.label :max_price, "Precio Máximo" %> - <%= s.text_field :max_price, size: 10 %> </p>
      </div>

      <div class="field">
          <%= s.label :isbn, "ISBN" %> - <%= s.text_field :isbn, size: 10 %>
      </div>

      <div class="actions"> <%= s.submit "Search", class: "pure-button pure-button-primary" %></div>
      
    <% end %>

    <p><%= link_to "Atras", books_path %></p>
  </div>
  
  <div class="col-md-8 main_content">
    <h1 class="novedades">Novedades</h1>
  <!--******* @books = Book.all ******-->
  <div id="books" class="transitions-enabled">
  <% @books.each do |book| %>
    <div class="box panel panel-default">
      <%= link_to image_tag(book.cover.url(:medium)), book %>
      <div class="panel-body center">
        
        <p id="index_title"><%= book.title %> </p>
        <p id="index_author"><%= book.author %> </p>
        

        <% if current_user %>
          <div class="actions">
            <%= link_to edit_book_path(book) do %>
              <span class="glyphicon glyphicon-pencil"></span> Edit
            <% end %>
            <%= link_to book, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span> Delete
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  </div>

</div>
</div>
