<div class="row books">
  <div class="col-md-3 book-filter text-right">
      <%= render 'books/books_filters' %>
  </div>

  <div class="col-md-9 books-wrapper text-center">
    <% @books.each do |book| %>
      <div class="col-xs-3 ">
        <div class="well sm-well book-container">
          <div class="row">
            <div class="col-md-12 img-container">
                <%= link_to image_tag(book.cover.url(:medium), class: "img img-responsive img-rounded well-image"), book %>
            </div>
            <div class="col-xs-12 book-info">
              <div class="row">
                <h6><strong><%=h truncate(book.title, :length => 45, :omission => '...') %></strong></h6>
              </div>
              <div class="row">
                <p><strong>Autor: </strong><%= truncate(book.author, :length => 40, :omission => '...') %></p>
              </div>

              <div class="row">
                <% if current_user %>
                  <%= link_to edit_book_path(book) do %>
                    <span class="glyphicon glyphicon-pencil"></span>
                  <% end %> 
                  Editar
                  <%= link_to book, method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <span class="glyphicon glyphicon-trash"></span>
                  <% end %> 
                  Eliminar
                <% end %>
              </div><!-- Editar|Eliminar -->

            </div><!-- Titutlo|Autor -->
          </div>
        </div>
      </div><!-- Books -->
    <% end %>

    <div class="row pagination-wrapper">
      <div class="pagination col-xs-12 col-centered">
        <%= will_paginate @books, :previous_label => 'Anterior', :next_label => 'Siguiente', renderer: BootstrapPagination::Rails, class: "pagination", :style => 'color:#0F6B79' %>
      </div>
    </div>

  </div>

</div>