<div class="wrap">
<div class="container product-spacer" id="product-spacer">
  <div class="row">
    <div class="col-sm-5">
      <div class="product-pic">
        <%= image_tag @book.cover.url, class: "product-img"%>
      </div>
    </div>
    <div class="col-sm-5 col-sm-offset-1">
      <div class="row">
        <% if current_user && current_user  %>
          <p class="pull-right"><%= link_to t("edit_book"), edit_book_path(@book.id)  %><p>
        <% end %>
        <br>
        <h3 class="product-title"><strong><%= @book.title %></strong>
          <h4 class="product-author"><strong>Autor:</strong> <%= @book.author %></h4>
          <h4 class="product-publisher"><strong>Editorial:</strong> <%= @book.publisher %></h4>
          <h4 class="product-publication_year"><strong>Año de Publicación:</strong> <%= @book.publication_year %></h4>
          <h4 class="product-country_of_origin"><strong>País de origen:</strong> <%= @book.country_of_origin %></h4>
        <span> 
          <% if @book.discount == nil %>
            <p class="price pull-right">$<%= @book.price.to_i %></p>
            </h3>
          <% else %>
            <p class="price pull-right"><strong> $<%= @book.discount.to_i %></strong> </p>
            </h3>
            <p class="price pull-right"> Antes $<%= @book.price.to_i %> </p>
            <br>
          <% end %>
        </span>
        <hr>
        <br>
        <p class="description"><%= @book.description %></p>
        <br>
  <!--       Add to cart button -->
  <!--       <button type="button" class="btn btn-default add-to-cart col-sm-10 col-sm-offset-1"><i class="fa fa-shopping-cart"></i> < t("add_to_cart") %></button>
        <p class="show-delivery col-sm-10 col-sm-offset-1"><t("show_delivery") %></p> -->
          <!-- <a href="#contact-product"> <button type="button" class="btn btn-default add-to-cart col-sm-10 col-sm-offset-1" id="interested-product"><%= t("email_us") %></button></a>
          <p class="show-delivery col-sm-10 col-sm-offset-1"><%= t("email_order") %></p> -->
        </div>
      </div>
    </div>
  </div>
</div> 

</div>



