<%= link_to 'Back', books_path %>

<div class="row">
	<div class="col-md-offset-4 col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading center">
				<%= image_tag @book.cover.url(:medium) %>
			</div>
			<div class="panel-body">
				<ul class="book_info">
					<li>
						<p>Precio:<%= @book.price %></p>
					</li>
					<li>
						<p>Título:<%= @book.title %></p>
					</li>
					<li>
						<p>Autor: <%= @book.author %></p>
					</li>
					<li>
						<p>Editorial: <%= @book.publisher %></p>
					</li>
					<li>
						<p>Año de publicación: <%= @book.publication_year %></p>
					</li>
					<li>
						<p>Categoria:</p>
							<% @book.categories.each do |category| %>
								<p>
									<%= category.name %>
								</p>
							<% end %>
					</li>
			
				</ul>
			<% if current_user  %>
				<%= link_to edit_book_path(@book)  do %>
				  <span class="glyphicon glyphicon-pencil"></span> Edit
				<% end %>
			<% end %>
			</div>
		</div>
	</div>
</div>