<div class="container">
	<!-- Books table -->
	<div class="row">
		<hr><hr>
		<!-- Search bar and options -->
		<div class="col-xs-12 text-right">
			<div>
				<%= render 'layouts/search' %>
			</div>
				<%= link_to 'Atras', new_quotation_path %>
			  <p class="cart-text"><%= render 'layouts/cart_text' %></p>
		</div>
    <div class="col-md-12">
      <table class="table table-striped">
        <tr>
          <th class="col-md-1">Portada</th>
          <th class="col-md-3">Título</th>
          <th class="col-md-1">Autor</th>
          <th class="col-md-1">Editorial</th>
          <th class="col-md-1">Año</th>
          <th class="col-md-1">Précio</th>
          <th class="col-md-1">País de P.</th>
          <th class="col-md-1">Opciones</th>
        </tr>

				<%= form_for @quotation do |f| %>
          <% @books.each do |book| %>
            <%= render "book_row", book: book, quotation_item: @quotation_item %>
          <% end %>
				<% end %>
      </table>
    </div>
  </div>

  <div class="text-center">
   <%= will_paginate @books,:previous_label => 'Anterior', :next_label => 'Siguiente', renderer: BootstrapPagination::Rails %>
	</div>

</div>