<p id="notice"><%= notice %></p>

<p>
  <strong>Create:</strong>
  <%= @order_item.create %>
</p>

<p>
  <strong>Update:</strong>
  <%= @order_item.update %>
</p>

<p>
  <strong>Destroy:</strong>
  <%= @order_item.destroy %>
</p>

<%= link_to 'Edit', edit_order_item_path(@order_item) %> |
<%= link_to 'Back', order_items_path %>
