<div class="row">
	<footer>
	<div class="container">
		<div class="row">

			<div class="col-md-6 col-sm-12 right-border">

				<div class="footer-about">
					<h2 class="footer-title">Acerca de nosotros</h2>

					<p>Desde el año 1980 hemos estado comprometidos con la promoción de los libros en Panamá,como representantes de las más importantes casas editoriales en lengua española, como directores regionales para Centroamérica, importadores, distribuidores, promotores.
					</p>

					<p>
						Desde el año 1993 iniciamos la labor de libreros al abrir la Librería El Campus,dedicada a las ciencias sociales, y orientada básicamente al sector universitario,profesores y profesionales.
						El año 1995 iniciamos Editorial Portobelo, entidad que ha publicado hastala fecha más de 850 títulos de autores nacionales de todas las ciencias sociales.
					</p>

					<p>
						El año 2005 abrimos la Librería Cultural Portobelo orientando la importación de libros a todas las ramas del derecho.Continuamos con la labor de ser la editorial más importante de Panamá.</p>	
					</p>
				</div>

				<div class="copyright hidden-sm hidden-xs">
					<p>Copyrights &copy; 2016. All Right Reserved.</p>
					<p>Developed By : <a id="anv" href="#" title="">ANV</a></p>
				</div>

			</div>

			<div class="col-md-6 col-sm-12">
				<div class="col-md-6 col-sm-6">

					<div class="contact-info">
						<h2 class="footer-title">Oficinas</h2>
							<div class="single">
								<i class="fa fa-map-marker"></i>
								<p>Vía Argentina,<br> 
									Edificio Tang Nº83, P.B., Panamá</p>
							</div>

							<div class="single">
								<i class="fa fa-phone"></i>
								<p>Lunes - Viernes: 8:00 am - 6:00 pm<br> 
									Sábados: 9:00 am - 5:00 pm</p>
									<p>Domingos: Cerrado</p>
							</div>

							<div class="single">
								<i class="fa fa-phone"></i>
								<p class="phone">(506) 269-9493  269-7018</p>
							</div>

							<div class="single">
								<i class="fa fa-envelope"></i>
								<p>info@culturalportobelo.com</p>
							</div>

							<div class="social-icon">
								<ul class="list-inline">
									<li><a href="http://sirseni.com/" title=""><i class="fa fa-facebook"></i></a></li>
									<li><a href="http://sirseni.com/" title=""><i class="fa fa-twitter"></i></a></li>
									<li><a href="http://sirseni.com/" title=""><i class="fa fa-instagram"></i></a></li>
									<li><a href="http://sirseni.com/" title=""><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div>

					</div>
					<div class="col-md-6 col-sm-6 left-border">
						<div class="navigation">
							<h2 class="footer-title">Navegación</h2>
							<ul class="list-unstyled">
								<li><%= link_to 'Inicio', root_path %></li>
								<li><%= link_to 'Novedades', root_path %></li>
								<li><%= link_to 'Catálogo', root_path %></li>
								<li><%= link_to 'Editorial', about_path %></li>
								<li><%= link_to 'acerca de nosotros', about_path %></li>
								<li><%= link_to 'Blog', new_contact_form_path %></li>
								<li><%= link_to 'Contáctenos', new_contact_form_path %></li>
							</ul>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="copyright visible-sm visible-xs">
						<p>Copyrights &copy; 2015 <a href="http://nextbootstrap.com/" title="">Next Bootstrap</a>. All Right Reserved.</p>
						<p>Developed By : <a href="http://centerend.com/" title="">Sirseni Technology</a></p>
					</div>
				</div>
			</div>
		</div>
	</footer>
	</div>