<!DOCTYPE html>
<html>
<head>
  <title>Cultural Portobelo | Textos legales Panam치</title>
  <link rel="shortcut icon" href="/assets/sites/icon_header.jpg">

  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> 

  <!-- Metatag for google suit -->
  <meta name="google-site-verification" content="L1Rvv1GxJ6tLwlroiuKK1jI3TEXPzeyExU_9z6eV7MY" />
  
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="webtitle" content="Cultural Portobelo | Textos legales Panam치">
  <meta name="keywords" content="maestria en derecho penal, curso de derecho penal, especializacion en derecho penal, codigo de trabajo, codigo de la familia, codigo judicial, constitucion politica de panama, codigo civil, codigo penal, codigo fiscal, codigo de comercio, panamanian law books">
  <meta name="author" content="Acnover">
  <meta name="description" content:"Textos legales, constitucion, editorial y libreria juridica en Panam치">
  <meta name="webdescription" content="Libros y algo m치s">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASwfqO4gxqJWgPXjkMyofNhVipH7dH3xo&callback=initMap"
	       async defer></script>
  <script>
   function initMap() {
     var myLatLng = {lat: 8.986808, lng: -79.531414};

     // Create a map object and specify the DOM element for display.
     var map = new google.maps.Map(document.getElementById('googleMap'), {
       center: myLatLng,
       scrollwheel: false,
       zoom: 17
     });

     // Create a marker and set its position.
     var marker = new google.maps.Marker({
       map: map,
       position: myLatLng,
       title: 'Cultural Portobelo'
     });
   }
  </script>
  <!-- Facebook Pixel Code -->
  <script>
  !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
  n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
  document,'script','https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '1509888455688690'); // Insert your pixel ID here.
  fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=1509888455688690&ev=PageView&noscript=1"
  /></noscript>
  <!-- DO NOT MODIFY -->
  <!-- End Facebook Pixel Code -->

</head>

<body>
    <%= render partial: 'sites/navbar' %>
		<div class="flash-alerts">
				<% if flash[:alert] %>
			<div class="alert alert-info" role="alert">
			  	<p class="flash-error"><%= flash[:alert] %></p>
			</div>
			 	<% end %>
			 	<% if flash[:notice] %>
			<div class="alert alert-info" role="alert">
			  	<p class="flash-notice"><%= flash[:notice] %></p>
			</div>
			 	<% end %>
		</div>
    <% if current_page?(books_path) %>
      <div class="row">
        <div class="col-xs-12 text-right">
          <h1 class="cart-text"><%= render 'layouts/cart_text' %></h1>
        </div>
      </div>
    <% end %>
	<%= yield %>



	<%= render partial: 'layouts/footer'%>

  <script>
    listener();
  </script>

</body>
</html>
